.navbar {
    background-color: #121212;
}

body {
    background-color: #1E1E1E;
}

.grey-card {
    background-color: #2b2b2b;
}

.grey-card-content {
    color: white;
}

.code {
    text-align: left;
    font-size: 18pt;
}

.code p {
    margin: 0;
}

.code .indent {
    margin-left: 5ch;
}

@media (min-width: 600px) {
    .code {
        font-size: 32px;
    }
}